#clock {
  text-align: center;
  background-image: url("pomodoro.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 45vh;
  padding-bottom: 20vh;
  font-size: 4vh;
}
